.footer {
  height: 500px;
  background-color: #f7f7f7;
  padding: 0px 80px;
}

.footer-category {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
  margin-bottom: 120px;
}
.footer-category ul {
  margin-right: 100px;
}
.footer-category ul li {
  margin-bottom: 18px;
  font-size: 15px;
}
.footer-category ul li:first-child {
  font-weight: 600;
}
.footer-info {
  display: flex;
}

.footer-info {
  padding-top: 30px;
  margin-bottom: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.footer-info__column:first-child span {
  margin-right: 10px;
}

.footer-info__column:last-child > i {
  margin-left: 30px;
}

.footer-info__column:last-child span {
  margin-right: 30px;
  font-weight: 600;
  text-decoration: underline;
}

.footer-info__column:last-child span i {
  margin-right: 10px;
}
