/* top-header */
.top-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  margin: 0px 80px 30px 80px;
  padding-top: 20px;
  color: white;
}
.top-header__logo {
  font-size: 25px;
  font-weight: 600;
  width: 33%;
}
.top-header__logo i {
  padding: 0px 10px;
}
.top-header__list {
  display: flex;
  width: 33%;
  justify-content: center;
  align-items: center;
}

.top-header__list li:nth-child(2) {
  margin: 0px 30px;
}

.top-header__user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33%;
}

.top-header__user > i {
  padding: 20px;
}

.top-header__user__login {
  width: 80px;
  height: 40px;
  background-color: #fff;
  color: black;
  border-radius: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top-header__user__login i:first-child {
  margin-left: 10px;
  font-size: 20px;
}

.top-header__user__login i:last-child {
  font-size: 30px;
}

/* top-search */

.top-search {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 70px;
  margin: auto;
  background-color: #fff;
  border-radius: 35px;
  font-size: 13px;
}

.top-search__bar h3 {
  font-weight: 600;
  margin-bottom: 3px;
}

.top-search__bar:nth-child(2),
.top-search__bar:nth-child(3),
.top-search__bar:nth-child(4) {
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  padding-left: 30px;
}

.top-search__bar:nth-child(4) {
  margin-right: 80px;
}
.top-search__bar:nth-child(5) {
  position: absolute;
  right: 10px;
  background-color: #ff385c;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* top-center */

.top-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  font-size: 18px;
  font-weight: 600;
}

.top-center__box {
  width: 200px;
  height: 60px;
  margin-top: 30px;
  border-radius: 30px;
  background-color: #fff;
  text-align: center;
  line-height: 55px;
}
